<div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
        <%= error_messages_for(@shelf) %>
    </div>
</div> 

<% max_name = 30 %>
<div class="form-group">
    <%= f.label :name, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
        <%= f.text_field :name, class: "form-control", placeholder: "max #{max_name} characters", maxlength: "#{max_name}" %>
    </div>
</div>  

    
