<br><br>
<div class="container">
	<div class="jumbotron">
    	<center><h1>BookShelves</h1></center>
    	
    		<h2>Choose your shelf:
    			<% @shelves.each do |shelf| %>
    				<%= link_to shelf.name, shelf, class: "btn btn-primary", role: "button" %>
    			<% end %>	
    		</h2>
    		<h2>Or create new:
    			<%= link_to "New Shelf", new_shelf_path, class: "btn btn-success", role: "button" %>	
    		</h2>		
    		
	</div>
</div>