<center><h2>Add Book</h2></center>

<%= form_for([@shelf, @book], html: {class: "form-horizontal"}) do |f| %>

<%= render partial: 'form', locals: { f: f, book: @book } %>

<div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
    <%= f.submit "Add Book", class: "btn btn-primary" %>
</div> 

<% end %>